@import 'bulma/bulma';

body {
	background: #fafafa!important;
}
.content-section {
	background: transparent !important;
}
// Headers
.header-section {
	padding:0;

	.secondNav {
		display: flex;
		align-items: center;
	}
}

.container-navbar {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	ul.navbar-category {
		display: flex;
		flex-direction:row;
		li {
			padding: 0.8rem 1.2rem 1.5rem 0;
			a {
				font-size: 0.9rem;
			}
		}
	}
}
.navbar-right-style2 {
	align-items: center;
	.nav-right-oke {
		display: flex;
		flex-direction: row;
		
		li {
			padding-left: 2rem;
			a {
				font-size: 0.8rem;
			}
			img {
				border-radius: 50%;

			}
		}
	}
}
// End headers

div.rowCard {
	margin-bottom: 1rem;
}

.wrapping {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	.nusa {
				
		@include touch() {
			width: calc(100% / 1) !important;
		};
		@include widescreen() {
			width: calc(100% / 3) !important;
		};

		@include desktop() {
			width: calc(100% / 2) !important;
		};

		width: calc(100% / 1);

		.card {
			margin-bottom: 1rem;
			margin-right: 1rem;

			@include touch() {
				margin-right: 0rem;
			}
			margin-right: 1rem;
		}

	}
	small.timestamp-post {
		font-size: 0.7rem;
		color: #555;
	}
	span.more-span {
		color: #555;
		font-size: 0.8rem;
	}
}

.apaini {
	position: relative;
}

.apaini {
	&:hover {
		&:after {
			background: rgba(0,0,0,0.5);
		}

		.containerButtonHover {
			opacity: 1;
			background: rgba(0,0,0,0.7);
		}
	}
	.containerButtonHover {
		position: absolute;
		top:0;
		left:0;
		right: 0;
		bottom:0;
		display: flex;
		opacity: 0;
		align-items: center;
		justify-content:center;
		transition: all 0.7s ease;
		background: rgba(0,0,0,0);
	}
}

.related-container {
	// position: fixed;
	display: flex;
	flex-direction:column;
	@extend .card;
	padding: 1rem 1.5rem 1rem 1.5rem;
	.list-related {
		margin-top: 0.5rem;
	}
}

.sidebar-related-news-title {
	font-size: 0.85rem;
}


// Footer
// 
.side-mini-footer {
	ul {
		display: flex;
		flex-direction: row;
		li {
			padding: 1rem 0.5rem 0.2rem 0rem;
			a {
				font-size: 0.7rem;
			}
		}
	}
	small {
		font-size: 0.6rem;
		color: #757575;
	}
}